*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Anek Tamil', sans-serif;
}

/* HEADER */
.inline{
    display: inline-block;
}

header div div span{
    padding-left: 15px;
}

.text-end{
    text-align: end;
}

.button-blue{
    background-color: rgb(35, 145, 255);
    padding: 5px;
    color: white;
}

.back-lightblue{
    background-color: rgb(132, 172, 246);
    margin-top: 15px;
}

h1{
    font-size: 50px;
}

.size{
    width: 33%;
}

.flex{
    display: flex;
}

/* MAIN */
.larg-100{
    width: 100%;
}

.border{
    border: 1px solid lightgrey;
    width: 400px;
}

.blue-sottolineato{
    color: rgb(68, 161, 255);
    text-decoration: underline;
}

ul li{
    margin-left: 20px;
}