*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Anek Tamil', sans-serif;
}

/* HEADER */
header{
    height: 60px;
    line-height: 60px;
    position: sticky;
    top: 0;
    background-color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    padding: 0 10px;
}

header img{
    vertical-align: middle;
}

nav ul li:hover{
    border-bottom: 1px solid black;
}

a{
    text-decoration: none;
    color: black;
}

.button{
    padding: 5px;
    justify-content: center;
}

.blue-button{
    color: white;
    background-color: dodgerblue;
}

.blue-button:hover{
    opacity: 0.7;
}

/* MAIN */
/* SEZIONE 1 */
.back-lightblue{
    background-color: rgb(166, 194, 246);
}

.larg-70{
    width: 70%;
    margin: 0 auto;
}

h1{
    font-size: 70px;
    margin-bottom: 20px;
}

.margin{
    margin: 50px 0;
}

.flex{
    display: flex;
}

.larg-1{
    flex-basis: 30%;
}

.larg-2{
    flex-basis: 70%;
}

.larg-70 .larg-2 img{
    width: 100%;
    z-index: 0;
}

.relative{
    position: relative;
    bottom: -60px;
}

/* SEZIONE 2 */
h2{
    font-size: 35px;
    padding-top: 100px;
}

.space-between{
    justify-content: space-between;
}

.larg-30{
    flex-basis: 30%;
}

.border{
    border: 1px solid black;
}

.titolo{
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid black;
}

.corpo{
    padding: 15px;
}

.corpo ul li{
    list-style-type: none;
    margin: 10px 0;
}

.user::before{
    font: var(--fa-font-solid);
    content: "\f007";
}

.cloud::before{
    font: var(--fa-font-solid);
    content: "\f07b";
}

.share::before{
    font: var(--fa-font-solid);
    content: "\f1e0";
}

.link{
    text-decoration: underline;
    color: rgb(0, 146, 195);
}

.link:hover{
    opacity: 0.7;
}

.bold{
    font-weight: bold;
}

.color-grey{
    color: rgb(166, 166, 166);
    padding-bottom: 20px;
}

.padding-bottom{
    padding-bottom: 22px;
}

.check li::before{
    font: var(--fa-font-solid);
    content: "\f00c";
    color: rgb(0, 146, 195);
}

.pad-top-bot{
    padding: 30px 0;
}

h4{
    padding: 20px 0;
}

.mar-top-bot{
    margin: 30px 0;
}

.white-button{
    border: 1px solid black;
}

.white-button:hover{
    color: rgb(161, 161, 161);
    border: 1px solid rgb(161, 161, 161);
}

.full-button{
    display: inline-block;
    width: 100%;
    text-align: center;
}

hr{
    width: 50px;
    margin: 20px 0;
}

/* SEZIONE 3 */
#gran-80{
    width: 80%;
}

/* SEZIONE 4 */
#riquadri div h3{
    padding-bottom: 30px;
}

#riquadri div{
    padding: 20px 0;
}

/* SEZIONE 5 */
.partners{
    width: calc(100%/3);
    aspect-ratio: 1;
}

.zona-x4{
    width: 50%;
    height: 50%;
    position: relative;
    background-color: red;
}

.zona-x4 img{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert();
}

.wrap{
    flex-wrap: wrap;
}

#back-1{
    background-color: rgb(164, 210, 168);
    border: 10px solid rgb(210, 232, 206);
}

#back-2{
    background-color: rgb(97, 8, 42);
}

#back-3{
    background-color: rgb(0, 149, 204);
}

#back-4{
    background-color: rgb(253, 20, 32);
}

#back-5{
    background-color: rgb(245, 245, 245);
}

#back-6{
    background-color: rgb(213, 0, 33);
}

.back-7{
    background-color: rgb(179, 209, 230);
}

#back-8{
    background-color: rgb(0, 43, 126);
}

#back-9{
    background-color: rgb(255, 213, 69);
}

/* FOOTER */
footer{
    background-color: black;
    color: white;
}

.larg-80{
    width: 80%;
    margin: 0 auto;
}

#before::before{
    font: var(--fa-font-solid);
    content: "\f7a2";
}