*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Anek Tamil', sans-serif;
}

/* HEADER */
header{
    height: 60px;
    line-height: 60px;
    position: sticky;
    top: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    padding: 0 10px;
}

header img{
    vertical-align: middle;
}

nav ul li:hover{
    border-bottom: 1px solid black;
}

a{
    text-decoration: none;
    color: black;
}

.button{
    padding: 5px;
}

.blue-button{
    color: white;
    background-color: dodgerblue;
}

.blue-button:hover{
    opacity: 0.7;
}

/* MAIN */
.back-lightblue{
    background-color: rgb(166, 194, 246);
}

.larg-80{
    width: 70%;
    margin: 0 auto;
}

h1{
    font-size: 70px;
    margin-bottom: 20px;
}

p{
    margin: 50px 0;
}

.flex{
    display: flex;
}

.larg-30{
    flex-basis: 30%;
}

.larg-70{
    flex-basis: 70%;
}

.larg-80 .larg-70 img{
    width: 100%;
}

/* .fa-arrow-down{
    margin-top: 10px;
} */

.relative{
    position: relative;
    bottom: -60px;
}